<%- include("layout/header") -%>
<h1>Login</h1>
<form action="/login" method="POST">
    <input type="text" name="username" />
    <input type="password" name="password" />
    <button type="submit">Login</button>
</form>
<%- include("layout/footer") -%>
